/* script created by Yasiya */

/* Global */
/* change all properties in your body tag */
body{
    margin: 0;
    padding: 0;
    padding-top: 35vh;
    background-color: white;
    font-size: 20px;
    display: grid;
    place-items: center;
}

*{
    font-size: 20px;
}

/* root section */
/* change root colors want */
:root{
    --main: green;
    --hover: white;
    --text: white;
    --text-hover: black;
    --border: green;
    --border-hover: black;
}

#hover-me-one{
    margin: 20px;
    padding: 10px 50px;
    background-color: var(--main);
    border: solid var(--border) 2px;
    transition: 1s; /* change transition duration currently 1s */
    cursor: pointer;
}

#hover-me-one:hover{
    background-color: var(--text);
    border: solid var(--border-hover) 2px;
    color: var(--text-hover);
}

#hover-me-two{
    margin: 20px;
    padding: 10px 50px;
    background-color: var(--hover);
    border: solid var(--border-hover) 2px;
    transition: 1s; /* change transition duration currently 1s */
    cursor: pointer;
}

#hover-me-two:hover{
    background-color: var(--main);
    border: solid var(--border) 2px;
    color: var(--text-hover);
}
